* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #c4b78d
}
header {
  background-color: #6f0d0d;
  color: #eee;
  padding: 10px;
}
main {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px;
}

/* Title display controls        border: 1px solid black; */
.parent {
  margin: 1px;
  padding: 0px;
  text-align: center;
}
.child {
  display: inline-block;
  padding: 1px;
  vertical-align: middle;
}
.titlewords {
  font-size: 55px;
}
.currentlytouring {
  text-align: left;
  font-size: 35px;
}
/* ------------------------------ */

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1800px;
  margin: 0 auto;
  padding: 10px 10px;
}

.gallery img {
  width: 100%;
  max-width: 500px;
  height: 800px;
  object-fit: cover;
  border-radius: 0px;
}

.gallery::after {
  content: "";
  width: 350px;
}


/* Applies to contact information */
.span {
  display: flex;
  width: 100%;
}
.contactinfo {
  flex: 1;
  margin: 0px;
}
.contactinfo:first-child {
  margin-right: 200px;
}
/* ------------------------------ */