* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #6f0d0d;
  color: #eee;
  padding: 5px;
}
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
}

/* Column and row below apply to pictures in the body*/
.headerrow {
  display: flex;
}

.headercolumn {
  flex: 33.33%;
  padding: 5px;
}

/* Column and row below apply to pictures in the body*/
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

/* Applies to contact information */
.span {
  width: 460px;
}

